.Card {
	width: 60px;
	height: 60px;
	background-color: goldenrod;
	margin: 4px;
	display: inline-block;
}

.hidden {
	opacity: 0.4
}

.noCard {
	opacity: 0;
}

.face1 {
	background-image: url('../../../resources/faces/1.png')
}

.face2 {
	background-image: url('../../../resources/faces/2.png')
}

.face3 {
	background-image: url('../../../resources/faces/3.png')
}

.face4 {
	background-image: url('../../../resources/faces/4.png')
}

.face5 {
	background-image: url('../../../resources/faces/5.png')
}

.face6 {
	background-image: url('../../../resources/faces/6.png')
}

.face7 {
	background-image: url('../../../resources/faces/7.png')
}

.face8 {
	background-image: url('../../../resources/faces/8.png')
}

.face9 {
	background-image: url('../../../resources/faces/9.png')
}

.face10 {
	background-image: url('../../../resources/faces/10.png')
}

.face11 {
	background-image: url('../../../resources/faces/11.png')
}

.face12 {
	background-image: url('../../../resources/faces/12.png')
}

.face13 {
	background-image: url('../../../resources/faces/13.png')
}

.face14 {
	background-image: url('../../../resources/faces/14.png')
}

.face15 {
	background-image: url('../../../resources/faces/15.png')
}

.face16 {
	background-image: url('../../../resources/faces/16.png')
}

.face17 {
	background-image: url('../../../resources/faces/17.png')
}

.face18 {
	background-image: url('../../../resources/faces/18.png')
}

.face19 {
	background-image: url('../../../resources/faces/19.png')
}

.face20 {
	background-image: url('../../../resources/faces/20.png')
}

.face21 {
	background-image: url('../../../resources/faces/21.png')
}

.face22 {
	background-image: url('../../../resources/faces/22.png')
}

.face23 {
	background-image: url('../../../resources/faces/23.png')
}

.face24 {
	background-image: url('../../../resources/faces/24.png')
}

.face25 {
	background-image: url('../../../resources/faces/25.png')
}

.face26 {
	background-image: url('../../../resources/faces/26.png')
}

.face27 {
	background-image: url('../../../resources/faces/27.png')
}

.face28 {
	background-image: url('../../../resources/faces/28.png')
}

.face29 {
	background-image: url('../../../resources/faces/29.png')
}

.face30 {
	background-image: url('../../../resources/faces/30.png')
}

.face31 {
	background-image: url('../../../resources/faces/31.png')
}

.face32 {
	background-image: url('../../../resources/faces/32.png')
}

